<%if current_user != nil %>

    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" <%= link_to 'Cars', cars_path %></a>
    <a class="nav-item nav-link" <%= link_to 'Parkings', parkings_path %></a>
    
    <a class="nav-item nav-link" <%= link_to 'Account Settings', user_path(current_user) %></a>

    <%= link_to('Logout', destroy_user_session_path, :class => "nav-item nav-link", method: :delete) %>

<% else %>
    <a class="nav-item nav-link" <%= link_to 'Login', new_user_session_path  %>    </a>
    <a class="nav-item nav-link" <%= link_to 'Sign Up', new_user_registration_path %>  </a> 
      
<% end %>
      </div>
  </div>
</nav>
