<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="infoTable">
    <div class="infoRow">
    <div class="infoCellLeft"> <%= form.label :first_name %> </div>
      <div class="infoCellRight"> <%= form.text_field :first_name %> </div>
    </div>

    <div class="infoRow">
      <div class="infoCellLeft"> <%= form.label :last_name %> </div>
      <div class="infoCellRight"> <%= form.text_field :last_name %> </div>
    </div>

    <div class="infoRow">
      <div class="infoCellLeft"> <%= form.label :phone_number %> </div>
      <div class="infoCellRight"> <%= form.text_field :phone_number %> </div>
    </div>

    <div class="infoRow">
      <div class="infoCellLeft"> <%= form.label :email %> </div>
      <div class="infoCellRight"> <%= form.text_field :email %> </div>
    </div>

    <div class="infoRow">
      <div class="infoCellLeft"> <%= form.label :password %> </div>
      <div class="infoCellRight"> <%= form.password_field :password %> </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
