<h1>Welcome, <%= @user.first_name %>!</h1>

<div class="container">
  <div>
    <button> 
      <%= link_to 'Cars', cars_path %>
    </button>
  </div>

  <div>
    <button> 
      <%= link_to 'Park', parkings_path %>
    </button>
  </div>

</div>






<h1>Your Account Info</h1>


<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
      <tr>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.phone_number %></td>
        <td><%= @user.email %></td>
        
        <td><%= link_to 'Show', @user %></td>
        <td><%= link_to 'Edit', edit_user_path(@user) %></td>
        <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
 
  </tbody>
</table>



