<div class="container-fluid">
  <div id="rowTextAlign" class ="row">
  <div id ="titleContainer" class = "col-sm-12">

<h1>Account Info</h1>

</div>
</div>

<div id="carOutterWrapper"> 

  <div class="infoTable">
  <div class="infoRow">
    <div class="infoCellLeft">First name:</div>
    <div class="infoCellRight" style="color:#3F6188"><%= @user.first_name %></div>
  </div>

  <div class="infoRow">
    <div class="infoCellLeft">Last name:</div>
    <div class="infoCellRight" style="color:#3F6188"><%= @user.last_name %></div>
  </div>

  <div class="infoRow">
    <div class="infoCellLeft">Phone:</div>
    <div class="infoCellRight" style="color:#3F6188"><%= @user.phone_number %></div>
  </div>

  <div class="infoRow">
    <div class="infoCellLeft">Email:</div>
    <div class="infoCellRight" style="color:#3F6188"><%= @user.email %></div>
  </div>

  </div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> 

</div>