
<%= form_with(model: parking, local: true) do |form| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= form.hidden_field :user_id, :value => @current_user %>
</div>

<% j = 0 %> 
<% @cars.each do |car| %>
  <% if @current_cars_parked.include?(car.id) == false %>
    <% j+=1 %>
  <% end %>
<% end %>

<% if j > 0 %>
  <div class="field">
  <%= form.label :car_id %>
    <select name="parking[car_id]" id="parking_car_id">
    <% i= 0 %>
    <% @cars.each do |car| %>
      <% if @current_cars_parked.include?(car.id) == false %>   
        <option value="<%=car.id%>"><%=Car.find(car.id).nickname%></option>
        <% i+=1 %>
      <% end %>
   <%end%>
  </div>


<div class="field">
  <%= form.hidden_field :active, :value => true %>
</div>

<div class="field">
  <%= form.hidden_field :address, :id => "address", :placeholder => "Address"%>
</div>

<div class="field">
  <%= form.hidden_field :start_lat, :id => "start_lat" %>
</div>

<div class="field">
  <%= form.hidden_field :end_lat, :id => "end_lat" %>
</div>

<div class="field">

  <%= form.hidden_field :start_long, :id => "start_long" %>
</div>

<div class="field">
  <%= form.hidden_field :end_long, :id => "end_long" %>
</div>

<div class="field">
  <%= form.hidden_field :move_by, :id => "move_by", :placeholder => "Move By" %>
</div>

<div class="field">
  <%= form.hidden_field :remind_at, :value => "", :id => "remind-at", :placeholder => "Remind At" %>
</div>



<div class="field">
  <%= form.label :set_reminder_for %>
  <select name=parking[minutes_before]>
      <option value = 15>15 mins</option>
      <option value = 30>30 mins</option>
      <option value = 45>45 mins</option>
      <option value = 60>1 hr</option>
  </select>
</div>

<h3 id="display"></h3> 

<div class="actions">
  <%= form.submit :id => "submitPark" %>
</div>

<div class="row">
    <div class="col-sm-12">
      <div id="map_canvas"></div>
    </div>
</div>

   <% else %>
    <p> Looks like all your cars are currently parked!
    <br>
    <br>
      Click <%= link_to 'Here', parkings_path %> To see all your Parking Sessions
    </p>
    
    <%end%>
  <% end %>

  <script>
    mapDates(); 
    getCoords(); 
  </script>
 

