<% lat = (@parking.start_lat.to_f + @parking.end_lat.to_f)/2 %>
<% lng = (@parking.start_long.to_f + @parking.end_long.to_f)/2 %>

<div class="infoTable">

  <div class="infoRow">
    <div class="infoCellLeft"> Car: </div>
    <div class="infoCellRight"> <%= Car.find(@parking.car_id).nickname %> </div>
  </div>

  <div class="infoRow">
    <div class="infoCellLeft"> Move By: </div>
    <div class="infoCellRight"> 
      <% if @parking.move_by  %>
        <%= @parking.move_by.in_time_zone("Eastern Time (US & Canada)").strftime("%a %D %l:%M %P") %>
      <% else %>
        <%= %>
      <% end %>
    </div>
  </div>

</div>

<p style="display:none">
  <strong>Start Lat:</strong>
  <span id = "curbStartLat"><%= @parking.start_lat %></span>
</p>

<p style="display:none">
  <strong>Start Lng:</strong>
  <span id = "curbStartLng"><%= @parking.start_long %></span>
</p>

<p style="display:none">
  <strong>End Lat:</strong>
  <span id = "curbEndLat"><%= @parking.end_lat %></span>
</p>

<p style="display:none">
  <strong>End Lng:</strong>
  <span id = "curbEndLng"><%= @parking.end_long %></span>
</p>


<p style="display:none">

  <strong>Remind At:</strong>
  <% if @parking.move_by %>
    <%= @parking.remind_at.in_time_zone("Eastern Time (US & Canada)").strftime("%a %D %l:%M %P") %>
  <% else %>
    <span><%= %></span>
  <% end %>
</p>

<button class="btn btn-info directionButton">
<a href = "https://www.google.com/maps/search/?api=1&query=<%= lat %>,<%= lng %>">Get Directions</a>
</button>
<button class="btn btn-info terminateButton">
  <%= link_to 'End Parking Session', @parking, method: :delete, data: { confirm: 'Are you sure?' } %>
</button>

<div id="map_canvas"></div>

<script>
  renderOldMap();
</script>

<%= link_to 'Back', parkings_path %>
