<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="infoTable">
    <div class="infoRow">
      <div class="infoCellLeft"> <%= form.label :nickname %> </div>
      <div class="infoCellRight"> <%= form.text_field :nickname %> </div>
    </div>

    <div class="infoRow">
      <div class="infoCellLeft" <%= form.label :description %> </div>
      <div class="infoCellRight"> <%= form.text_field :description, :placeholder => "Optional" %> </div>
    </div>

    <div class="infoRow">
  
      <%= form.hidden_field :user_id, :value => current_user.id %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
