<div class="container-fluid">
  <div id="rowTextAlign" class ="row">
  <div id ="titleContainer" class = "col-sm-12">

  <h1>  
  <%= @car.nickname %>
</h1>

</div>
</div>

<div id="carOutterWrapper"> 


<div class="infoTable">
  <div class="infoRow">
    <div class="infoCellLeft"> Description:</div>
    <div class="infoCellRight"> <%= @car.description %> </div>
  </div>
</div>



<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', cars_path %>

</div>
