

<h1>
  
  <%= @car.nickname %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>



<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Destroy', @car, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', cars_path %>
