<div class="container-fluid">
  <div id="rowTextAlign" class ="row">
  <div id ="titleContainer" class = "col-sm-12">

  <h1>  
  <%= @car.nickname %>
</h1>

</div>
</div>

<div id="carOutterWrapper"> 


<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>



<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Destroy', @car, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', cars_path %>

</div>
