<!DOCTYPE html>
<html>
  <head>
    <title>Parkner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIny_pi_-OpegLTAf2iV4ebra20U62ciM"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
  <nav id="landing-nav" class="navbar navbar-light">
  <a class="navbar-brand" href="/">
  <%= image_tag image_path("parkner_p.PNG"), :class => "nav-logo" %><span>arkner</span>

  
  <ul class="nav justify-content-end">
    <li class="nav-item">
      
      <li> <%= link_to 'Log Out', destroy_user_session_path %>
    </li>
  </ul>
</nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    
    </div>
  </body>
</html>
