<!DOCTYPE html>
<html>
  <head>
    <title>Parkner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIny_pi_-OpegLTAf2iV4ebra20U62ciM"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  

  <body>


  <nav id="landing-nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><%= image_tag image_path("parkner_p.PNG"), :class => "nav-logo" %><span>arkner</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" <%= link_to 'Cars', cars_path %></a>
      <a class="nav-item nav-link" <%= link_to 'Parkings', parkings_path %></a>
      <%if current_user != nil %>
        <a class="nav-item nav-link" <%= link_to 'Account Settings', user_path(current_user) %></a>
      
        <%= link_to('Logout', destroy_user_session_path, :class => "nav-item nav-link", method: :delete) %>
      <% end %>
      </div>
  </div>
</nav>




  
    <div id="mainContainer" class="container">
    <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
      <%= yield %>
    
    </div>
  </body>
</html>
